body {
    font-family: 'Open Sans', sans-serif;
}

.main-header {
    background-image: url(./Image/banner3.png);
    height: 800px;
    text-align: right;
    background-position: bottom center;
}

.chilled-header {
    display: inline-block;
    max-width: 400px;
    padding: 150px;
}

.chilled-header h1 {
    color: aliceblue;
    font-size: 50px;
}

.chilled-header p {
    color: aliceblue;
}

.chilled-header button {
    color: #1E90FF;
    padding: 15px 25px;
    font-size: 16px;
    margin-top: 20px;
}

main {
    padding: 150px;
}

.main-banner {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
    align-items: center;
}

.chilled-banner ul {
    margin-left: -40px;
}

.chilled-banner ul span {
    color: green;
    font-size: 16px;
}

.chilled-banner ul li {
    list-style: none;
    font-size: 13px;
    color: rgb(53, 51, 51);
    line-height: 30px;
}